.main-footer {
	margin: rem(20) 0;
	width: 100%;
	font-family: $font-base;
	color: $color-silver-chalice;
	&__owner {
		@include font(14, 17, 500);
		text-align: center;
		&--name {
			font-weight: $font-weight-bold;
			color: $color-silver-chalice;
			text-decoration: underline;
			&:hover {
				color: $color-white;
			}
		}
	}
}
