.block-introduction {
	margin-bottom: rem(35);
	@include media(">=lg") {
		display: flex;
		flex-direction: column;
		max-width: 38%;
		flex-basis: 38%;
	}
	&__cta {
		font-weight: $font-weight-bold;
		border-bottom: dashed transparent;
		transition: border-bottom $default-transition;
		&:hover {
			border-bottom: dashed $color-white;
		}
		@include media(">=lg") {
			@include font(18, 22);
		}
	}
	&__paragraph {
		max-width: 60%;
		@include media(">=lg") {
			max-width: 100%;
		}
	}
}
