/*
----------------------------------------
COLORS

Colors in variables.
*/
$color-white: #fff;
$color-silver-chalice: #a9a9a9;
$color-gray: #828282;
$color-black: black;

// Theme Colors
$color-baltic-sea: #181719;
