/*
----------------------------------------
FONTS
*/

//base
$font-size-base: rem(14);
$line-height-base: rem(17);
$font-weight-base: 400;

//other weights
$font-weight-bold: 700;

//families
$font-base: "Montserrat", sans-serif;
$font-crimson-pro: "Crimson Pro", serif;
$font-lora: "Lora", serif;
